@import 'reset';
@import 'md-icon';
@import 'loading';
@import 'lightbox';
@import 'aside';
@import 'tab';
@import 'card';
@import 'labels';

body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

[data-color="pink"] {
    color: #ff4d8b;
}
