@import './reset.css';
@import './loading.css';
@import './lightbox.css';
@import './aside.css';
@import './tab.css';
@import './card.css';
@import './labels.css';

body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.md-icon {
    font-family: 'Material Icons';
    font-style: normal;
}

[data-color="pink"] {
    color: #ff4d8b;
}
