@import 'css_modules/reset';
@import 'css_modules/md-icon';
@import 'css_modules/colors';
@import 'loading';
@import 'lightbox';
@import 'aside';
@import 'tab';
@import 'card';
@import 'labels';

body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

[data-color="pink"] {
    color: #ff4d8b;
}
