#lightbox > aside {
    @include card (3);
    max-width: 34%;
    height: 100%;
    background-position: center;
    background-size: cover;
    float: left;
    z-index: 100;
}

@media (max-width: 640px) {

    #lightbox > aside {
        display: none;
    }

}
