section {

    div > div {
        @include card(2);

        img {
            width: 100%;
        }

        .tag {
            width: 100%;
            padding: .5em;
            background-color: $white;
            text-align: center;
            box-sizing: border-box;

            .price {
                font-size: 1.4em;
                font-family: 'Rozha One', serif;
                color: $pink500;
                display: block;

                &::before {
                    content: '$';
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: .75em;
                    font-weight: bold;
                }
            }
        }
    }
}
