.label {
    @include card(1);
    margin: 1em;
    display: flex;

    .img {
        width: 7em;
        height: 7em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tag {
        padding: 0 1em;
        flex: 1;
    }

    .graph {
        background: $grey300;

        .bar {
            height: 4px;
            background: $pink500;
        }
    }
}
