.label {
    background: #fff;
    margin: 1em;
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .img {
        width: 7em;
        height: 7em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .tag {
        padding: 0 1em;
        flex: 1;
    }
    .graph {
        background: #eee;
        .bar {
            height: 4px;
            background: #ff4d8b;
        }
    }
}
