@import 'elevation';

@mixin card ($elevation, $background-color: #fff, $elevate-on-hover: true) {
    @include elevation ($elevation, $elevate-on-hover);
    padding: 0;
    overflow: hidden;
    background-color: $background-color;
    border-radius: .125em;
}
