@mixin spinner ($size, $primary, $background) {
    width: $size;
    height: $size;
    display: inline-block;

    &__wrapper {
        width: $size;
        height: $size;
        border-radius: $size;
        position: relative;

        &::after {
            content: '';
            background: $background;
            border-radius: $size;
            width: $size - $size / 4;
            height: $size - $size / 4;
            position: absolute;
            top: $size * .125;
            left: $size * .125;
        }

        &__rotator {
            width: $size;
            border-radius: $size;
            overflow: hidden;
            position: relative;
            animation: rotate 2000ms infinite linear;

            &::before {
                content: '';
                border: $size * .0625 solid $background;
                border-radius: $size;
                background: $primary;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &__inner-spin {
                width: $size / 2;
                height: $size;
                border-radius: ($size / 2) 0 0 ($size / 2);
                background: $background;
                animation: rotate-left 2500ms infinite cubic-bezier(.445, .050, .550, .950);
                transform-origin: ($size / 2) ($size / 2);

                &:last-child {
                    border-radius: 0 ($size / 2) ($size / 2) 0;
                    float: right;
                    margin-top: -$size;
                    animation: rotate-right 2500ms infinite cubic-bezier(.445, .050, .550, .950);
                    transform-origin: 0 50%;
                }
            }
        }
    }

    @keyframes rotate-left {
        60%, 75%, 100% {transform: rotate(360deg);}
    }

    @keyframes rotate {
        0% {transform: rotate(0);
        }
        100% {transform: rotate(360deg);}
    }

    @keyframes rotate-right {
        0%, 25%, 45% {transform: rotate(0);}
        100% {transform: rotate(360deg);}
    }

}
