#discover {
    width: calc(100% - 2em);
    overflow: hidden;
    column: {
        count: 4;
        gap: 1em;
    }
    margin: 1em;
    flex-wrap: wrap;
    transition: transform .25s, opacity .25s;
    article, img {
        margin: 0 0 1em;
        overflow: hidden;
        break-inside: avoid;
    }
    article {
        padding: 1em;
        background: $pink500;
        color: #fff;
    }
    img {
        width: 100%;
    }
}

.hide #discover {
    opacity: 0;
    transform: translateY(1em);
}

@media (max-width: 60em) {
    #discover {
        column-count: 3;
    }
}

@media (max-width: 43em) {
    #discover {
        column-count: 2;
    }
}

@media (max-width: 34em) {
    #discover {
        column-count: 1;
    }
}
