.switch {
    width: 3.5em;
    height: 2em;
    border-radius: 1em;
    background: $pink500;
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:after {
        content: '';
        display: block;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background: #fff;
        box-shadow: inset 0 0 0 2px $pink500;
        position: absolute;
        top: 0;
        left: 0;
        transition: left .25s;
    }
    &.checked:after {
        left: 1.5em;
    }
}
