const BACKGROUND_COLOR = 'rgba(1,2,3,1)';
const BORDER_COLOR = 'blue';
const BORDER_WIDTH = 4;
const rowNum = 15;

html {
    .props {
        font-size: '50%';
        width: '100%';
        height: '100%';
        line-height: '100%';
        left: '-'+BORDER_WIDTH+'px';
        top: '-'+BORDER_WIDTH+'px';
        background-color: BACKGROUND_COLOR;
        border-color: BORDER_COLOR;
        border-width: BORDER_WIDTH;
        resize: 'both';
        border-style: 'solid';
        position: 'relative';
    },
    .rowProps {
        font-size: '50%';
        height: (100.0/rowNum)+'%';
        width: '100%';
        left: '-'+BORDER_WIDTH+'px';
        top: '-'+BORDER_WIDTH;
        background-color: BACKGROUND_COLOR;
        border-color: BORDER_COLOR;
        border-width: BORDER_WIDTH;
        resize: 'both';
        border-style: 'solid';
        position: 'relative';
    }
}
